/* Style page content */
.main {
  padding-top: 10px;
}

.main-expanded {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding-left: 15px;
}

.main-collapsed {
  margin-left: 75px; /* Same as the width of the sidebar */
  padding-left: 35px;
}

.sidebar-toggle {
  z-index: 2;
  position: fixed;
}

.sidebar-toggle-expanded {
  margin-left: 160px;
}

.sidebar-toggle-collapsed {
  z-index: 2;
  margin-left: 75px;
  position: fixed;
}
