/* Style page content */
.main {
  padding-top: 10px;
}

.main-expanded {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding-left: 15px;
}

.main-collapsed {
  margin-left: 75px; /* Same as the width of the sidebar */
  padding-left: 35px;
}

.sidebar-toggle {
  z-index: 2;
  position: fixed;
}

.sidebar-toggle-expanded {
  margin-left: 160px;
}

.sidebar-toggle-collapsed {
  z-index: 2;
  margin-left: 75px;
  position: fixed;
}

.phone-select {
  margin-right: 5px;
}


/*for checkboxes*/
.App {
  display: flex;
  position: absolute;
  background: #111111;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
