$brand: #00CECC;
$checkboxSize: 30px;
$uncheckedBG: black;
$checkedBG: $brand;
$checkedColor: black;
$disabledBG: rgba(0, 0, 0, .35);

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.React__checkbox--input {
  display: none;
}

.React__checkbox--input {
  + span {
    color: red;
    display: flex;
    width: $checkboxSize;
    height: $checkboxSize;
    background: $uncheckedBG;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 5px;
    border: 0px solid $brand;
    box-sizing: border-box;
    transition: all 150ms;
    border-radius: 5px;
  }

  &:disabled {
    + span {
      background: $disabledBG;
    }
  }
}
